body{
    background-color: #DBD9EF;
}
#white{
    background-color: white;
    margin-top:0px;
    position:absolute;
    top:0px;
    width:100%;
}
#title{
    text-align:center;
    font-family: 'Zen Dots', sans-serif;
    color: #020D2E;
    top:0px;
    z-index:100;
}
#about{
    right: 80px;
    top: 25px;
    position:absolute;
    z-index:100;
}
#headerDiv{
    padding-top:10px;
    /* display:flex; */
    
}
#board{
    position:relative;
    top: 350px;
}

#canvasParent{
    margin:auto;
    justify-content: center;
    display:flex;
    /* padding:100px; */
}
#settings{
    margin-left:0px;
    margin-right: 0px;
    width:100%;

}

#carSettings{
    display:flex;
}
#restartButton{
    margin:auto;
    justify-content: center;
    display:flex;
    background-color: transparent;
    border:0px;
    padding:10px;
    cursor: pointer;
}
.settingsDiv{
    padding:20px;
}

#carSettings .slideContainer{
    justify-content:center;
    margin:auto;
}

#simSettings{
    display:flex;
}

#simSettings .slideContainer{
    justify-content:center;
    margin:auto;
}

.slideNum{
    width:20px;
}