body{
    background-color: #DBD9EF;
}
#white{
    background-color: white;
    /* margin-top:0px; */
    margin: auto;
    top:0px;
    /* width:fit-content%; */
}
#summary h2{
    margin:auto;
    text-align: center;
    justify-content: center;
    display:flex;
    font-family: 'Roboto Mono', monospace;
    font-size:20px;

}
#summary{
    padding: 15px;
}
#title{
    text-align:center;
    font-family: 'Zen Dots', sans-serif;
    color: #020D2E;
    top:0px;
    z-index:100;
}
.slideNum{
    margin:auto;
    justify-content: center;
    display:flex;
}
#headerDiv{
    padding-top:10px;
    /* display:flex; */
    
}
#board{
    position:relative;
}

#canvasParent{
    margin:auto;
    justify-content: center;
    display:flex;
    /* padding:100px; */
}
#settings{
    margin-left:0px;
    margin-right: 0px;
    width:100%;

}
.slideContainer p{
    font-family: 'Roboto Mono', monospace;
    display: inline;
    margin:auto;
    justify-content: center;
}
#carSettings{
    display:flex;
}
#restartButton{
    margin:auto;
    justify-content: center;
    display:flex;
    background-color: transparent;
    border:0px;
    padding:10px;
    cursor: pointer;
}

#restartButton:hover{
    transform: scale(1.1); 
}
#settings h3{
    font-family: 'Orbitron', sans-serif;
}

.settingsDiv{
    padding:20px;
}

#carSettings .slideContainer{
    justify-content:center;
    margin:auto;
    width: 200px;
}

#simSettings{
    display:flex;
}

#simSettings .slideContainer{
    justify-content:center;
    margin:auto;
}

.slideNum{
    width:20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('images/icons8-car-20.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 24px;
    border: 0;
    background: url('images/icons8-car-20.png');
    cursor: pointer;
  }

  .summary{
    padding: 20px;
    margin: auto;
  }
